body {
  background-color: #444444;
  color: #dddddd;
  font-family: Garamond, Times New Roman, serif;
}

h1 {
  color: #7fb3d5;
}

h3 {
  color: #7fb3d5;
}

h4 {
  color: #7fb3d5;
}

a:link {
  color: #e6b0aa;
}

table td, table dt * {
  vertical-align: top;
}

table td:nth-child(1) {
  text-align: right;
  color: #7fb3d5;
}

.main {
  width:75%;
  float:left;
}
.aside {
  width:25%;
  float:left;
}

.checked {
  color: #bb8fce;
}
