body {
  background-color: red;
}

h1 {
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif; /* three options by priority, which are searched for on the user's computer */
}

img {
  width: 70%;
}

p, li {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: black;
  padding-left: 10px;
  border: 1px solid black;
}

.footer {
  background-color: black;
  color: white;
  border: 1px solid black;
  padding-left: 10px;
}
